<% if (site.posts.length){ %>
  <div class="widget-wrap widget-archive">
    <div class="widget-title"><span>归档</span></div>
    <div class="widget-inner">
      <%- list_archives({show_count: config.show_count, type: config.archive_type, format: 'YYYY'}) %>
    </div>
  </div>
<% } %>
