<% if (is_post() && page.layout !== 'tweet'){ %>
  <div class="widget-wrap">
    <div class="widget-title"><span>目录</span></div>
    <div class="widget-inner">
      <div class="toc post-toc-html"></div>
    </div>
  </div>
<% } %>
