
<% if (config.aomori_search_algolia){ %>
    <%- partial('_partial/search') %>
<% } %>

<div class="widget" id="widget" style="height: 335px;">
    <% config.aomori_widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
    <% }) %>
</div>

<div class="widget ps" id="widget">

  <div class="widget-wrap widget-archive">
    <div><span><img src="/images/avatar_all.jpg" alt="Yuhang Zheng" style="width: 240px;height: 339px;"></span></div>
  </div>

</div>

<div id="backtop"><i class="icon icon-arrow-up"></i></div>

<div id="backtop">
    <span><img src="/images/avatar_all.jpg" alt="Yuhang Zheng" style="width: 240px;height: 339px;"></span>
</div>
